body {
  font-family: sans-serif;
  text-align: center;
  padding: 30px;
  background-color: #f9f9f9;
}

.box {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  display: inline-block;
  padding: 30px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}
